/* Header Styles */
.header-container {
  text-align: center;
  margin-bottom: 30px;
}

.header-title {
  font-size: 2em;
  color: #007bff;
  margin-bottom: 20px;
}

.header-actions {
  display: flex;
  /* Ajuste a largura total ou uma largura máxima para alinhar melhor no centro */
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; /* centraliza o container em relação à página */
  
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px; /* só pra dar um respiro interno */
}

.audit-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.audit-button:hover {
  background-color: #0056b3;
}


.imgheader {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção sem distorção */
  object-position: center; /* Centraliza a imagem */
}