/* styles/Layout.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  align-items: center;  /* Centraliza verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
  padding: 20px;  /* Espaçamento interno para conteúdo */
 
}
